<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div class="card">
                <div class="card-body text-center">
                    <h3>Personas Registradas</h3>
                    <button class="btn btn-success float-end" routerLink="nuevo">Nuevo</button>
                    <table class="table table-striped">
                        <thead>
                          <tr>
                            <th scope="col">Nombre</th>
                            <th scope="col">Fecha de Nacimiento</th>
                            <th scope="col">Sexo</th>
                            <th scope="col">Acción</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let persona of listPersonas">
                            <td>{{persona.nombre}}</td>
                            <td>{{persona.fecha | date: 'dd/MM/yyyy'}}</td>
                            <td>{{persona.sexo}}</td>
                            <td><i [routerLink]="['/editar', persona._id]" class="fas fa-user-edit text-primary"></i>
                                <i (click)="eliminarPersona(persona._id)" class="far fa-trash-alt text-danger"></i></td>
                          </tr>
                        </tbody>
                      </table>
                </div>
            </div>
        </div>
    </div>
</div>
